<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="FlightXML2Soap">
            <security mode="Transport">
              <transport clientCredentialType="Basic" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://flightxml.flightaware.com/soap/FlightXML2/op"
              binding="basicHttpBinding" bindingConfiguration="FlightXML2Soap"
              contract="FlightAwareXML2.FlightXML2Soap" name="FlightXML2Soap" />
      </client>
    </system.serviceModel>
</configuration>